/* 
Giovani Garrido
ID  228724
Redes
23/06/23
 */

* {
  margin: 0px;
  padding: 0px;
}

header,
section,
footer,
main,
aside,
nav,
article,
div {
  box-sizing: border-box;
}

.cabecera {
    text-align: center; 
}

.social {
}

.container {
  display: flex;
  width: 90%;
  margin: auto;

}

.item {
}

a.item {
    width: 33.33%;
    height: 400px;
    text-align: center;
    font-size: 10em;

}

/* PANTALLAS MAYORES A 600PX */

@media only screen and (max-width: 600px) {

  a.item {
color: black;
  }
}

/* PANTALLAS MATORES A 768 */

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  a.item {
color: #B92727;
font-size: 4em;
  }
}
  
