/* Giovanni Garrido
ID 228724
20/06/23
Series */

* {
  margin: 0px;
  padding: 0px;
}

header,
section,
footer,
main,
aside,
nav,
article,
div {
  box-sizing: border-box;
}

h1 {
  font-family: "Libre Baskerville";
  font-size: 4em;
  text-align: center;
  line-height: 2;
  color: rgba(8, 8, 87, 0.86);
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  text-align: justify;
}

.container {
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    width: 90%;
    min-height: 400px;
    background: rgba(178, 178, 178, 0.333);
    margin: auto;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-size: 1em;
    /* overflow: hidden; */
    
}

.items {
    width: 30%;
    min-height: 300px;
    background: rgba(0, 229, 255, 0.563);
    border-radius: 15px;

}

.items img {
    width: 100%;
    height: 600px;
    border-radius: 15px;
}

.items p {
    padding: 20px;

}

footer {
  background-color: rgb(1, 1, 101);
  color: white;
  text-align: center;
  padding: 1em;
  margin-top: 5em;
}

footer a {
  color: white;
  text-decoration: none;
}
